<div id="greeting-div"></div>
<div id="content"></div>
@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react-dom.min.js"></script>
    <script src="@Url.Content("~/Scripts/MyScript/answerradioinput.js")"></script>
    <script src="@Url.Content("~/Scripts/MyScript/answermultiplechoicequestion.js")"></script>
    <script src="@Url.Content("~/Scripts/MyScript/index.js")"></script>
}